<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FeathersSwiftSocketIO-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FeathersSwiftSocketIO-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FeathersSwiftSocketIO-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA35FC501ECB54C40018856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA35FC601ECB54E40018856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA35FC6D1ECB55EB0018856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA35FC7A1ECB55FC0018856E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
